@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Eater&family=Luckiest+Guy&family=Montserrat:wght@800;900&family=Nosifer&family=Poppins:ital,wght@0,300;0,800;0,900;1,800&family=Raleway:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Creepster&family=Merriweather:wght@300&family=Redressed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --white: #f1f1f1;
  --size: 95vw;
  --s: calc(var(--size) / 6);
  --bor: calc(var(--size) / 5);
  --boxShadow: calc(var(--size) / 12);
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
}

.grid-container {
  width: 100%;
  position: absolute;
  top: 0;
}

#top {
  min-height: 5vh;
}

/* ----------------------Audio-----------------*/
audio {
  transform: scale(0.6);
  transform-origin: top left;
  position: absolute;
  left: 10px;
  top: 10px;
}

audio::-webkit-media-controls {
  background-color: rgb(76, 77, 89);
  color: #695757;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
  background-color: rgb(225, 216, 210);
}

/*-----------------------------------Modal------------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

h3 {
  text-align: center;
  font-family: poppins;
}

#halloweengif {
  height: 35%;
  width: 35%;
  margin: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 75%;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: grey;
  border: 1px solid black;
  border-radius: 15px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 1rem;
  color: black;
  margin: 0.4rem 0 0.2rem;
  font-family: "poppins";
  line-height: 150%;
  text-align: justify;
}

.btn-open {
  height: auto;
  width: auto;
  padding: 10px;
  opacity: 85%;
  font-size: 0.75rem;
  z-index: 5;
  top: 10px;
  right: 10px;
  position: absolute;
  color: white;
  z-index: 50;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-image: url(image/Pipistrello.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-shadow: none;
  width: 20%;
  height: 2%;
}

#buttonm {
  padding: 0.5em;
  width: 50%;
}

/*------------------------------Titre----------------------------------------------*/

.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
h1 {
  font-family: Nosifer;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  font-size: 7vw;
  /*font-size: clamp(30px, 3vw + 0.5rem, 100px);*/
  line-height: 125%;
}

div > span {
  opacity: 0.15;
}

.I {
  opacity: 1;
  animation: flickerI 2s linear reverse infinite;
}

.I::after {
  content: "";
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
  box-shadow: -35px 0px 60px 8px rgba(255, 255, 255, 1);
}

.L,
.G {
  animation: flickerLG 2s linear reverse infinite;
  position: relative;
}

.L::after,
.L::before {
  content: " ";
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 100%;
  border-radius: 100%;
  opacity: 0.05;
  filter: blur(10px);
}

.L::after {
  width: 200px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}

.H {
  animation: flickerH 2s linear reverse infinite;
}

.T {
  animation: flickerH 2s linear reverse infinite;
}

@keyframes flickerI {
  0% {
    opacity: 0.4;
  }

  5% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.6;
  }

  15% {
    opacity: 0.85;
  }

  25% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.25;
  }

  45% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.85;
  }

  80% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flickerLG {
  0% {
    opacity: 0.19;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 0.25;
  }

  15% {
    opacity: 0.35;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.4;
  }

  35% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.25;
  }

  45% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.35;
  }

  80% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes flickerH {
  0% {
    opacity: 0.15;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 0.12;
  }

  15% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.15;
  }

  30% {
    opacity: 0.4;
  }

  35% {
    opacity: 0.05;
  }

  40% {
    opacity: 0.12;
  }

  45% {
    opacity: 0.15;
  }

  60% {
    opacity: 0.3;
  }

  70% {
    opacity: 0.2;
  }

  80% {
    opacity: 0.3;
  }

  90% {
    opacity: 0.18;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes flickerT {
  0% {
    opacity: 0.01;
  }

  5% {
    opacity: 0.05;
  }

  10% {
    opacity: 0.03;
  }

  15% {
    opacity: 0.1;
  }

  25% {
    opacity: 0.07;
  }

  30% {
    opacity: 0.1;
  }

  35% {
    opacity: 0.05;
  }

  40% {
    opacity: 0.06;
  }

  45% {
    opacity: 0.1;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 0.1;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}

/*----------------------------------------------------------------------------------------*/

#cookie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img {
  width: 90%;
  height: 95%;
  animation: rotates 100s linear infinite;
  cursor: pointer;
  padding: 0 1em 0 1em;
}

@keyframes rotates {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-------------------------background light----------------------------------------*/

.parent {
  position: absolute;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
}

.circle {
  position: absolute;
  left: -0.5%;
  top: -6.5%;
  animation: rotates 100s linear infinite;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  filter: url(#wavy) blur(1px);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}

.parent:hover .circle {
  opacity: 1;
}

.circle:before,
.circle:after {
  content: "";
  position: absolute;
  top: var(--s);
  left: var(--s);
  right: var(--s);
  bottom: var(--s);
  border-radius: 50%;
  border: var(--bor) solid #fff;
}

.circle:before {
  box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
  animation: move 5s linear infinite;
}

.circle:after {
  box-shadow: 0 0 calc(var(--bor) / 2) #fff, inset 0 0 var(--bor) #fff;
}

@keyframes move {
  0% {
    box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(0deg);
  }

  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
  }

  40% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
  }

  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
  }

  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
  }

  100% {
    box-shadow: 0 0 var(--boxShadow) #0f0, inset 0 0 var(--boxShadow) #0f0;
    filter: hue-rotate(360deg);
  }
}

svg {
  width: 0;
  height: 0;
}

/*------------------------------------------------------------------------------------*/

#pointParClick {
  font-family: eater;
  color: rgb(217, 211, 211);
  font-size: 5vw;
}

h2 {
  grid-area: cookie2;
  text-align: center;
  font-family: nosifer;
  font-size: 8vw;
  /*font-size: clamp(32px,2.5vw + 1rem, 64px);*/
  line-height: 75%;
  padding: 0.5em;
  text-shadow: 2px 2px 2px rgb(58, 1, 1);
  color: rgb(194, 9, 9);
}

#score {
  color: #f0a441;
  font-size: 2em;
  line-height: 1em;
}

/*---------------------------------------------------------------------*/
#button {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 0.5em;
  background: linear-gradient(-110deg, rgb(241, 158, 44), rgb(208, 84, 10));
  font-family: "Eater", serif;
  font-size: 4vw;
  /*font-size: clamp(16px,1vw + 1rem, 48px);*/
  cursor: pointer;
  transition: all 200ms;
  line-height: 185%;
  width: 65%;
}

button:hover {
  transform: scale(1.15) translateY(-1px);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: nosifer;
}
.cout {
  font-family: "Poppins";
  font-size: 3vw;
  font-weight: light;
}

[disabled] {
  opacity: 0.75;
  cursor: not-allowed;
  color: rgb(18, 18, 18);
}

/*-----------------------------------------Cookie Banner-----------------------------------------------------------*/
#cookiebanner {
  background: radial-gradient(rgb(233, 233, 233), rgb(135, 136, 135));
  max-height: 7.5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#halloween {
  font-size: 3vw;
  color: #a81010;
  text-align: center;
  animation: blood 2s linear infinite, move-down 2s linear infinite;
  font-family: creepster;
  width: 90%;
  padding: 0 1em;
}

#link {
  font-size: 1.25em;
}

#vampire {
  height: 7.5vh;
}

@keyframes blood {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  color: #591212;
}

.death {
  background-repeat: no-repeat;
  height: 1em;
}

/*---------------------------MediaQuery (Desktop)---------------------------------- */

@media (min-width: 426px) and (max-width: 811px) {
  .img {
    width: 65%;
  }

  :root {
    --size: 70vw;
  }
}

@media (min-width: 812px) {
  :root {
    --size: 30vw;
    --s: calc(var(--size) / 10);
    --bor: calc(var(--size) / 5);
  }

  .circle {
    top: -30%;
  }

  .parent {
    overflow: visible;
  }

  #cookiebanner {
    max-height: 10vh;
  }

  #vampire {
    height: 1Ovh;
  }
  * {
    overflow-x: visible;
  }

  h1 {
    font-size: 5vw;
  }

  .overlay {
    z-index: 1000;
  }

  .btn-open {
    font-size: 1.25rem;
    padding: 0.5em;
    top: 20px;
    right: 20px;
  }

  .modal p {
    font-size: 1.5rem;
    padding: 3px 16px;
  }

  #buttonm {
    font-size: 2vw;
    width: 30%;
  }

  .corps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between; /* Ajustez la valeur selon vos besoins */
    align-items: center;
    padding-bottom: 3em;
  }

  .img {
    width: 70%;
  }

  audio {
    transform: scale(0.9);
  }

  #cookie {
    justify-content: center;
  }

  h2 {
    font-size: 3.5vw;
  }

  #pointParClick {
    font-size: 1.75vw;
  }

  .cout {
    font-size: 1.5vw;
    line-height: 120%;
  }

  button {
    font-size: 2vw;
    line-height: 130%;
    width: 75%;
  }

  #button {
    padding: 1.5em;
    align-items: flex-start;
    gap: 2em;
  }

  .spider {
    z-index: 100;
  }

  /*---------------------------------------------Spider-------------------------------------------*/
  html:hover .spider {
    top: -120%;
  }

  .spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 80%;
    z-index: 20;

    /* 4. Animatie */
    animation: swing 2s infinite;
    transform-origin: top;

    /* Bonus */
    transition: 100000s ease-in-out;
  }

  .spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(255, 255, 255, 0.7);
  }

  .spider .body {
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
  }

  .spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: #fff;
    border-radius: 50%;
  }

  .spider .body .eye.left {
    left: 15px;
  }

  .spider .body .eye.right {
    right: 15px;
  }

  .spider .body .eye:after {
    background: #000;
    width: 7px;
    height: 7px;
    content: "";
    display: block;
    margin: 55%;
    border-radius: 50%;

    /* 3. Animatie */
    animation: look 8s infinite;
  }

  .spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
  }

  .spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
  }

  .spider .legs.left {
    left: -70%;
  }

  .spider .legs.right {
    right: -60%;
  }

  .legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
  }

  .legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
  }

  .legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
  }

  .legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
  }

  .legs.left .leg:nth-child(3) {
    transform: rotate(-50deg);
    margin-left: 30px;
  }

  .legs.right .leg:nth-child(3) {
    transform: rotate(50deg);
    margin-left: -30px;
  }

  /* 1. Animatie */
  @keyframes look {
    0%,
    40%,
    100% {
      transform: translateX(0);
    }

    45%,
    95% {
      transform: translateX(-110%);
    }
  }

  /* 3. Animatie */
  @keyframes swing {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}
